<%= render "navbar" %>

<main>

<div class="home-background">
<div class="hero-text-box">

<div class="typewriter">
<h1 class="h1-home">Welcome to the SSSSSnakes Sale <br>
Legless Pets</h1>



</div>
</div>
</div>

<div class="hero"></div>



<h1> Find your dream snake! </h1>



<%= render "footer" %>
</main>
